!!!
%head
  %title mar.ly
  %link(rel="stylesheet" type="text/css" href="/css/reset.css")
  %link(rel="stylesheet" type="text/css" href="/css/base.css")
  %script{:type => "text/javascript", :src  => "/js/jquery-1.7.2.min.js"}
  %script{:type => "text/javascript", :src  => "/js/typewriter.js"}

%body
  #container
    #card
      %img(src='/recipes.png' title='recipes' id='recipe-image')
      %img(src='/about.png' title='about' id='about-image')
      %img(src='/hackery.png' title='code' id='code-image')
      %img(src='/blog.png' title='blog' id='blog-image')

      #logo
        %img(src='/marly.png' title='marly' usemap="#navigation")
        %map(name="navigation")
          %area(shape='rect' coords='0,0,45,69' href='/' alt='home' id='home-link')
          %area(shape='rect' coords='50,0,75,69' href='/about' alt='About me' id='about-link')
          %area(shape='rect' coords='80,0,95,69' href='/recipes' alt='Recipes' id='recipe-link')
          %area(shape='rect' coords='105,0,115,69' href='http://mjw2.posterous.com' alt='Posterous' id='blog-link')
          %area(shape='rect' coords='120,0,152,69' href='https://github.com/marly' alt='Code' id='code-link')

    =yield
